.header{
    
    border-bottom: 1px;
}
/*booton*/
.btn.current {
  background-color: var(--accsent-color);
}
.btn{
  display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;
    margin-left: 73px;
    margin-bottom: 50px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
}
.btn:hover{
    color:#FFFFFF;
background-color: #2196F3;}
.btn:focus{
    color: #2196F3;
}

/*portfolio*/
.portfolio{
    padding-top: 94px;
}
.portfolio-selection{
    display: flex;
    margin-left: 40px;
    }
.portfolio-title{
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-text{
font-family: inherit;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: #757575;
}

.gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

  /* margin-left: -30px;
    margin-bottom: -30px;
}
.calery-item{
 width:  calc(100%/3 - 30px);  
 margin-left: 30px;
 margin-bottom: 30px;
}*/



















